.product-show {
  margin-top: 50px;


  img {
    max-height: 500px;
    max-width: 100%;
  }

  .card-buttons {
    display: flex;
    justify-content: center;

    Button {
      margin: 0 15px;
    }
  }

}

.view-cards-newest-first {
  display: flex;
  flex-direction: column-reverse;
}